
body {
    background-color: #E6E6FA;
    color: rgb(66, 127, 71);
    font-family: "Leida", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #E6E6FA;
    color: rgb(66, 127, 71);
    font-family: "Leida", sans-serif;
}
